.header-list{
    color:var(--main-title-color);
}

.header-link:visited{
    color: #943e00;

}


.list-item {
    color: var(--main-title-color);
}

.header-phone {
font: weight 600px;
font-size: :12px;
line-height: 30px;
letter-spacing 0.1em;
color:var (--main-litle-color);
}

.header-btn{
    color: var(--main-litle-color);
    font-size: 14px;
    border-radius: 24px;
    background-color: transparent;
    padding: 12px;
}
.header-btn:hover {
    color: var(--acent-color);
    border-color: var(--main-litle-color);
    transition: all 0.5s;
    }

.headr-btn:is (:hover, :focus) {
    color:var(--acent-color);
    border-color: var(--main-title-color);
    }




    -----------------------------------------------------------------------------------------------------------------------------

    .text > span {
        text-decoration: line-through;
      }
      
      .link {
        text-decoration: none;
      }